@import "tailwindcss";




@theme {
  --font-sans: var(--font-geist-sans);
  --font-arabic: var(--font-amiri);
  --font-stapel: var(--font-bold-font);
  --font-stapell: var(--font-regular-font);

  --color-pmsa-blue: #0020b0;
  --color-pmsa-dark: #00126b;
  --color-pmsa-accent: #ffffff;

  --animate-spin-slow: spin 120s linear infinite;
  --animate-grain: grain 8s steps(10) infinite;
}

:root {
  --background: var(--color-pmsa-blue);
  --foreground: var(--color-pmsa-accent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Noise Texture */
.bg-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  opacity: 0.06;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
}

/* Scrollbar hiding for cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* app/globals.css or specific CSS file */

.embla {
  overflow: hidden;
  background-color: #f7f7f7;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 70%;
  /* Shows a bit of the next slide */
  min-width: 0;
  position: relative;
  margin-right: 20px;
  /* Gap between slides */
}

/* The "Mask" that hides the overflowing image */
.embla__parallax {
  height: 25rem;
  /* Adjust height here */
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

/* The Image Layer that moves */
.embla__parallax__layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20%;
  /* Crucial: Make image wider than container */
  width: 140%;
  /* Crucial: Make image wider than container */
  display: flex;
  justify-content: center;
}

.embla__parallax__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}